<a href="https://colab.research.google.com/github/subha2025-data/datascience/blob/main/pandaspr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
S=pd.Series([1,2,3,5,6,7,8,9])
S

0    1
1    2
2    3
3    5
4    6
5    7
6    8
7    9
dtype: int64

,

In [ ]:
S1=pd.Series([1,2,3,4,5,6,7], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

S1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [ ]:
df=pd.DataFrame([[1,2,3],[4,5,6],[9,8,7]],columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  9  8  7

In [ ]:
df.head(3)

   A  B  C
0  1  2  3
1  4  5  6
2  9  8  7

In [ ]:
df.tail(2)

   A  B  C
1  4  5  6
2  9  8  7

In [ ]:
df.dtypes

A    int64
B    int64
C    int64
dtype: object

In [ ]:
df.describe()

              A    B         C
count  3.000000  3.0  3.000000
mean   4.666667  5.0  5.333333
std    4.041452  3.0  2.081666
min    1.000000  2.0  3.000000
25%    2.500000  3.5  4.500000
50%    4.000000  5.0  6.000000
75%    6.500000  6.5  6.500000
max    9.000000  8.0  7.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

# Data Loading

In [ ]:
car_df=pd.read_csv('/content/car_resale_prices.csv (1).zip', index_col=0)

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [ ]:
car_df.head(15)

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
5,2015 Hyundai i20 Active 1.2,4.70 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",First Owner,Petrol,81.86bhp,5.0,17.19 kmpl,Hatchback,Agra
6,2017 Tata Tiago 1.05 Revotorq XZ,3.60 Lakh,2017,1047 cc,Third Party insurance,Manual,"1,20,000 Kms",First Owner,Diesel,69bhp,5.0,27.28 kmpl,Hatchback,Agra
7,2010 Hyundai i10 Magna 1.1,2 Lakh,2010,1086 cc,Third Party insurance,Manual,"60,000 Kms",Second Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
8,2016 Maruti Eeco 7 Seater Standard BSIV,3.70 Lakh,2016,1196 cc,Third Party insurance,Manual,"20,000 Kms",First Owner,Petrol,73bhp,7.0,15.37 kmpl,Minivans,Agra
9,2009 Hyundai Santro Xing GL,1.20 Lakh,2009,1086 cc,Third Party insurance,Manual,"30,000 Kms",First Owner,Petrol,62bhp,5.0,NaN,Hatchback,Agra
10,2014 Honda Amaze E i-Vtech,3.30 Lakh,2014,1198 cc,Third Party insurance,Manual,"70,000 Kms",First Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Agra
11,2018 Hyundai Xcent 1.2 VTVT SX,4.75 Lakh,2018,1197 cc,Third Party insurance,Manual,"60,000 Kms",Second Owner,Petrol,81.86bhp,5.0,20.14 kmpl,Sedan,Agra
12,2020 Maruti Ciaz Sigma BSIV,6.86 Lakh,2020,1462 cc,Third Party insurance,Manual,"50,000 Kms",Third Owner,Petrol,103.25bhp,5.0,21.56 kmpl,Sedan,Agra
13,2021 Hyundai Venue SX Opt Executive Diesel,12.50 Lakh,2021,1493 cc,Third Party insurance,Manual,"60,000 Kms",First Owner,Diesel,98.6bhp,5.0,23.7 kmpl,SUV,Agra
14,2021 Hyundai Venue SX Dual Tone Diesel BSIV,11 Lakh,2021,1396 cc,Third Party insurance,Manual,"60,000 Kms",First Owner,Diesel,89bhp,5.0,23.7 kmpl,SUV,Agra

In [ ]:
car_df.tail()

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [ ]:
car_df.tail(10)

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
17436,2020 Skoda Superb Laurin & klement,29.50 Lakh,Dec 2020,1984 cc,Comprehensive,Automatic,"40,000 Kms",First Owner,Petrol,187.74bhp,5.0,15.1 kmpl,Sedan,Delhi
17437,2022 Volkswagen Tiguan 2.0 TSI Elegance BSVI,33.75 Lakh,Apr 2022,1984 cc,Comprehensive,Automatic,"10,000 Kms",First Owner,Petrol,187.74bhp,5.0,12.65 kmpl,SUV,Delhi
17438,2018 Renault Duster Petrol RXS CVT,7.75 Lakh,Jul 2018,1498 cc,Comprehensive,Automatic,"37,000 Kms",First Owner,Petrol,104.5bhp,5.0,14.99 kmpl,SUV,Delhi
17439,2022 Maruti Baleno Alpha BSVI,9.50 Lakh,Apr 2022,1197 cc,Comprehensive,Manual,"9,500 Kms",First Owner,Petrol,88.50bhp,5.0,22.35 kmpl,Hatchback,Delhi
17440,2016 Hyundai Elantra 2.0 SX Option AT,8.60 Lakh,Nov 2016,1999 cc,Comprehensive,Automatic,"67,634 Kms",First Owner,Petrol,149.92bhp,5.0,14.62 kmpl,Sedan,Delhi
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [ ]:
car_df.dtypes

full_name             object
resale_price          object
registered_year       object
engine_capacity       object
insurance             object
transmission_type     object
kms_driven            object
owner_type            object
fuel_type             object
max_power             object
seats                float64
mileage               object
body_type             object
city                  object
dtype: object

In [ ]:
car_df.describe()

              seats
count  17436.000000
mean       5.205494
std        0.669321
min        2.000000
25%        5.000000
50%        5.000000
75%        5.000000
max       14.000000

In [ ]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17446 entries, 0 to 17445
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          17446 non-null  object
 1   resale_price       17446 non-null  object
 2   registered_year    17377 non-null  object
 3   engine_capacity    17432 non-null  object
 4   insurance          17439 non-null  object
 5   transmission_type  17446 non-null  object
 6   kms_driven         17443 non-null  object
 7   owner_type         17401 non-null  object
 8   fuel_type          17446 non-null  object
 9   max_power          17344 non-null  object
 10  seats              17436 non-null  float64
 11  mileage            16938 non-null  object
 12  body_type          17446 non-null  object
 13  city               17446 non-null  object
dtypes: float64(1), object(13)
memory usage: 2.0+ MB

In [ ]:
car_df.columns

Index(['full_name', 'resale_price', 'registered_year', 'engine_capacity',
       'insurance', 'transmission_type', 'kms_driven', 'owner_type',
       'fuel_type', 'max_power', 'seats', 'mileage', 'body_type', 'city'],
      dtype='object')

In [ ]:
car_df.index

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       17436, 17437, 17438, 17439, 17440, 17441, 17442, 17443, 17444, 17445],
      dtype='int64', length=17446)

In [ ]:
car_df.shape

(17446, 14)

In [ ]:
car_df.size

244244

# Project
## url_sheet and read

In [ ]:
sheet_id='16qEUKckLFy7j1qoSd1bSQURn9QXDb6ffSBAWzRkPsSg'
sheet_name= 'sheet_1'


url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
traffic_df=pd.read_csv(url)

<ipython-input-26-216296524>:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  traffic_df=pd.read_csv(url)

In [ ]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

# push to SQL

In [ ]:
db_url="postgresql://subha09:IZz4d4EtDghBTqxf7zt9VduPN9kCEisR@dpg-d0l7d03e5dus73cbbr40-a.singapore-postgres.render.com/traffic"

In [ ]:
db_url="postgresql://{username}:{password}@{host}/{database}"

In [ ]:
## open postgres, create a database - "traffic", create a database - "traffic" either locally or online
# database usage

In [ ]:
from sqlalchemy import create_engine,inspect
engine=create_engine(db_url)

In [ ]:
traffic_df.to_sql('traffic_stops', engine, index=False, if_exists='replace')

OperationalError: (psycopg2.OperationalError) could not translate host name "{host}" to address: Name or service not known

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
Query="select * from traffic_stops"
new_traffic_df=pd.read_sql(Query, engine)

OperationalError: (psycopg2.OperationalError) could not translate host name "{host}" to address: Name or service not known

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
Query="select * from traffic_stops Where driver_age>50"
new_traffic_df=pd.read_sql(Query, engine)

OperationalError: (psycopg2.OperationalError) could not translate host name "{host}" to address: Name or service not known

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
new_traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
1,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
2,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
3,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
4,2020-01-01,0:05:00,Canada,F,44,73,Other,Drunk Driving,Other,True,Vehicle Search,Ticket,False,16-30 Min,False,MH89ZF7676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31332,2020-02-15,12:09:00,India,F,63,78,Black,Seatbelt,Seatbelt,True,None,Warning,False,0-15 Min,False,DL13IZ8119
31333,2020-02-15,12:10:00,India,M,34,72,White,Signal Violation,Seatbelt,True,None,Ticket,True,30+ Min,False,KA65MU9353
31334,2020-02-15,12:11:00,India,M,47,70,Hispanic,Seatbelt,Signal,False,Vehicle Search,Ticket,True,16-30 Min,True,WB25SO5088
31335,2020-02-15,12:12:00,India,M,50,62,White,Other,Seatbelt,True,Frisk,Arrest,True,30+ Min,True,KA83LM2787
31336,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,None,Warning,True,0-15 Min,True,KA24UZ8488

In [ ]:
traffic_df.describe()

       driver_age_raw   driver_age
count    65538.000000  65538.00000
mean        49.055998     49.11221
std         18.174699     18.15012
min         18.000000     18.00000
25%         33.000000     34.00000
50%         49.000000     49.00000
75%         65.000000     65.00000
max         80.000000     80.00000

In [ ]:
traffic_df.describe(include='object')

,stop_date,stop_time,country_name,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,stop_duration,vehicle_number
count,65538,65538,65538,65538,65538,65538,65538,43818,65538,65538,65538
unique,46,1440,3,2,5,5,5,2,3,3,65538
top,2020-01-01,12:17:00,India,F,White,Seatbelt,Other,Frisk,Warning,30+ Min,UP89PT2924
freq,1440,46,21998,32881,13168,13204,13194,21971,21966,21958,1

In [ ]:
traffic_df.dtypes

stop_date             object
stop_time             object
country_name          object
driver_gender         object
driver_age_raw         int64
driver_age             int64
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested             bool
stop_duration         object
drugs_related_stop      bool
vehicle_number        object
dtype: object

In [ ]:
new_traffic_df.to_sql("new_traffic_stops_AGe_50", engine, index=False, if_exists="replace")

NameError: name 'new_traffic_df' is not defined

How to unzip a file

In [ ]:
!unzip/content/car_resale_prices.csv (1).zip

/bin/bash: -c: line 1: syntax error near unexpected token `1'
/bin/bash: -c: line 1: `unzip/content/car_resale_prices.csv (1).zip'

In [ ]:
import pandas as pd

In [ ]:
!unzip /content/car_resale_prices.csv.zip

Archive:  /content/car_resale_prices.csv.zip
  inflating: car_resale_prices.csv

In [ ]:
car_df=pd.read_csv("/content/car_resale_prices.csv", index_col=0)

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [ ]:
car_df.describe()

              seats
count  17436.000000
mean       5.205494
std        0.669321
min        2.000000
25%        5.000000
50%        5.000000
75%        5.000000
max       14.000000

In [ ]:
car_df.describe(include='object')

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,mileage,body_type,city
count,17446,17446,17377,17432,17439,17446,17443,17401,17446,17344,16938,17446,17446
unique,6923,1738,243,156,7,2,8285,5,5,609,587,26,13
top,2016 Hyundai Grand i10 Sportz,4.50 Lakh,2022,1197 cc,Third Party insurance,Manual,"1,20,000 Kms",First Owner,Petrol,81.80bhp,18.9 kmpl,Hatchback,Delhi
freq,51,216,399,3416,7559,12541,561,12293,11336,636,684,7343,3036

In [ ]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17446 entries, 0 to 17445
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          17446 non-null  object
 1   resale_price       17446 non-null  object
 2   registered_year    17377 non-null  object
 3   engine_capacity    17432 non-null  object
 4   insurance          17439 non-null  object
 5   transmission_type  17446 non-null  object
 6   kms_driven         17443 non-null  object
 7   owner_type         17401 non-null  object
 8   fuel_type          17446 non-null  object
 9   max_power          17344 non-null  object
 10  seats              17436 non-null  float64
 11  mileage            16938 non-null  object
 12  body_type          17446 non-null  object
 13  city               17446 non-null  object
dtypes: float64(1), object(13)
memory usage: 2.0+ MB

In [ ]:
car_df.shape

(17446, 14)

In [ ]:
car_df.size

244244

In [ ]:
car_df.columns

Index(['full_name', 'resale_price', 'registered_year', 'engine_capacity',
       'insurance', 'transmission_type', 'kms_driven', 'owner_type',
       'fuel_type', 'max_power', 'seats', 'mileage', 'body_type', 'city'],
      dtype='object')

In [ ]:
car_df.isnull()

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17442,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17443,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17444,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17445,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
car_df.isnull().sum()

full_name              0
resale_price           0
registered_year       69
engine_capacity       14
insurance              7
transmission_type      0
kms_driven             3
owner_type            45
fuel_type              0
max_power            102
seats                 10
mileage              508
body_type              0
city                   0
dtype: int64

In [ ]:
car_df['full_name'].str.split(' ')

0                     [2017, Maruti, Baleno, 1.2, Alpha]
1                                [2018, Tata, Hexa, XTA]
2                      [2015, Maruti, Swift, Dzire, VXI]
3                      [2015, Maruti, Swift, Dzire, VXI]
4                       [2009, Hyundai, i10, Magna, 1.1]
                              ...
17441                  [2013, Honda, Amaze, VX, i-Vtech]
17442                 [2016, Toyota, Camry, 2.5, Hybrid]
17443             [2016, Toyota, Corolla, Altis, GL, MT]
17444    [2019, Hyundai, Creta, 1.6, CRDi, AT, SX, Plus]
17445                  [2017, Maruti, Swift, Dzire, VDi]
Name: full_name, Length: 17446, dtype: object

In [ ]:
car_df['full_name'].str.split(' ')[0]
car_df['full_name'].str.split(' ').str[0]

0        2017
1        2018
2        2015
3        2015
4        2009
         ...
17441    2013
17442    2016
17443    2016
17444    2019
17445    2017
Name: full_name, Length: 17446, dtype: object

In [ ]:
car_df['full_name'].str.split(' ').str[0].astype('int64')

0        2017
1        2018
2        2015
3        2015
4        2009
         ...
17441    2013
17442    2016
17443    2016
17444    2019
17445    2017
Name: full_name, Length: 17446, dtype: int64

In [ ]:
car_df['model_year']=car_df['full_name'].str.split(' ').str[0].astype('int64')

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year
0,2017 Maruti Baleno 1.2 Alpha,5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,2017
1,2018 Tata Hexa XTA,10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,2018
2,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,2015
3,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,2015
4,2009 Hyundai i10 Magna 1.1,1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,2013
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,2016
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,2016
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,2019
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,2017

In [ ]:
car_df['brand']=car_df['model_year']=car_df['full_name'].str.split(' ').str[1]

In [ ]:
car_df['model_name']=car_df['model_year']=car_df['full_name'].str.split(' ').str[2]

In [ ]:
car_df['Variant']=car_df['model_year']=car_df['full_name'].str.split(' ').str[3:]

In [ ]:
car_df['Variant']=car_df['Variant'].apply(lambda x: ' ' .join(x))

In [ ]:
car_df['resale_price'].str.split(' ').str[1]

0         5.45
1           10
2         4.50
3         4.50
4         1.60
         ...
17441     3.25
17442    20.75
17443     8.35
17444    13.95
17445     6.50
Name: resale_price, Length: 17446, dtype: object

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
0,2017 Maruti Baleno 1.2 Alpha,5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,"[1.2, Alpha]",Maruti,Baleno,"[1.2, Alpha]"
1,2018 Tata Hexa XTA,10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,[XTA],Tata,Hexa,[XTA]
2,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,"[Dzire, VXI]"
3,2015 Maruti Swift Dzire VXI,4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,"[Dzire, VXI]"
4,2009 Hyundai i10 Magna 1.1,1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,"[Magna, 1.1]",Hyundai,i10,"[Magna, 1.1]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25 Lakh,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,"[VX, i-Vtech]",Honda,Amaze,"[VX, i-Vtech]"
17442,2016 Toyota Camry 2.5 Hybrid,20.75 Lakh,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,"[2.5, Hybrid]",Toyota,Camry,"[2.5, Hybrid]"
17443,2016 Toyota Corolla Altis GL MT,8.35 Lakh,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,"[Altis, GL, MT]",Toyota,Corolla,"[Altis, GL, MT]"
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95 Lakh,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,"[1.6, CRDi, AT, SX, Plus]",Hyundai,Creta,"[1.6, CRDi, AT, SX, Plus]"
17445,2017 Maruti Swift Dzire VDi,6.50 Lakh,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,"[Dzire, VDi]",Maruti,Swift,"[Dzire, VDi]"

In [ ]:
car_df['resale_price'].str.replace(',','').str.split(' ').str[1].astype('Float64')
car_df['resale_price']=car_df['resale_price'].str.replace(',','').str.split(' ').str[1].astype('Float64')
car_df['resale_price']

0         5.45
1         10.0
2          4.5
3          4.5
4          1.6
         ...
17441     3.25
17442    20.75
17443     8.35
17444    13.95
17445      6.5
Name: resale_price, Length: 17446, dtype: Float64

In [ ]:
car_df['resale_price'].describe()

count        17446.0
mean      858.772404
std      8029.858438
min              1.0
25%             3.88
50%             5.95
75%             9.45
max          99999.0
Name: resale_price, dtype: Float64

In [ ]:
car_df[car_df['resale_price']>2000]

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
80,2009 Chevrolet Spark 1.0 LT Option Pack,50000.0,2009,995 cc,Third Party insurance,Manual,"60,000 Kms",Second Owner,Petrol,"63PS at 5,400 rpm",5.0,16 kmpl,Hatchback,Agra,"[1.0, LT, Option, Pack]",Chevrolet,Spark,1.0 LT Option Pack
96,2009 Chevrolet Spark 1.0 LT,50000.0,2009,995 cc,Third Party insurance,Manual,"60,000 Kms",Third Owner,Petrol,62bhp,5.0,18 kmpl,Hatchback,Agra,"[1.0, LT]",Chevrolet,Spark,1.0 LT
97,2009 Chevrolet Spark 1.0 LT,50000.0,2009,995 cc,Third Party insurance,Manual,"60,000 Kms",Second Owner,Petrol,62bhp,5.0,18 kmpl,Hatchback,Agra,"[1.0, LT]",Chevrolet,Spark,1.0 LT
247,2011 Chevrolet Beat LT,60000.0,2011,1199 cc,Third Party insurance,Manual,"50,000 Kms",Second Owner,Petrol,79.4bhp,5.0,18.6 kmpl,Hatchback,Lucknow,[LT],Chevrolet,Beat,LT
293,2013 Tata Nano LX,70000.0,2013,624 cc,Third Party insurance,Manual,"60,000 Kms",Second Owner,Petrol,37.48bhp,4.0,25.4 kmpl,Hatchback,Lucknow,[LX],Tata,Nano,LX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16647,2009 Hyundai i10 Era,90000.0,2009,1086 cc,Third Party insurance,Manual,"90,000 Kms",Second Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Gurgaon,[Era],Hyundai,i10,Era
16778,2008 Maruti Zen Estilo Sports,85000.0,2008,1061 cc,Third Party insurance,Manual,"1,20,000 Kms",First Owner,Petrol,64.9,5.0,16.9 kmpl,Hatchback,Hyderabad,"[Estilo, Sports]",Maruti,Zen,Estilo Sports
17109,2004 Ford Ikon 1.6 CLXI,55000.0,2004,1597 cc,Third Party insurance,Manual,"80,000 Kms",Second Owner,Petrol,92,5.0,14.2 kmpl,Sedan,Bangalore,"[1.6, CLXI]",Ford,Ikon,1.6 CLXI
17117,1998 Maruti Omni 5 Str STD,58000.0,NaN,796 cc,Third Party insurance,Manual,"80,000 Kms",Fifth Owner,Petrol,35 bhp,5.0,14 kmpl,Minivans,Bangalore,"[5, Str, STD]",Maruti,Omni,5 Str STD
17331,2009 Maruti Wagon R LXI,99000.0,Dec 2009,998 cc,Comprehensive,Manual,"82,000 Kms",Second Owner,Petrol,67.1bhp,5.0,18.9 kmpl,Hatchback,Delhi,"[R, LXI]",Maruti,Wagon,R LXI

In [ ]:
car_df.loc[car_df['resale_price']>2000,'resale_price']/=100000

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,"[1.2, Alpha]",Maruti,Baleno,1.2 Alpha
1,2018 Tata Hexa XTA,10.0,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,[XTA],Tata,Hexa,XTA
2,2015 Maruti Swift Dzire VXI,4.5,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
3,2015 Maruti Swift Dzire VXI,4.5,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
4,2009 Hyundai i10 Magna 1.1,1.6,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,"[Magna, 1.1]",Hyundai,i10,Magna 1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,"[VX, i-Vtech]",Honda,Amaze,VX i-Vtech
17442,2016 Toyota Camry 2.5 Hybrid,20.75,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,"[2.5, Hybrid]",Toyota,Camry,2.5 Hybrid
17443,2016 Toyota Corolla Altis GL MT,8.35,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,"[Altis, GL, MT]",Toyota,Corolla,Altis GL MT
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,"[1.6, CRDi, AT, SX, Plus]",Hyundai,Creta,1.6 CRDi AT SX Plus
17445,2017 Maruti Swift Dzire VDi,6.5,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,"[Dzire, VDi]",Maruti,Swift,Dzire VDi

In [ ]:
car_df['resale_price'].describe()

count     17446.0
mean     8.607227
std      9.666947
min          0.28
25%          3.75
50%          5.84
75%         9.055
max          97.0
Name: resale_price, dtype: Float64

In [ ]:
car_df[car_df['brand']=='Maruti']['resale_price'].mean()  ## Average

np.float64(5.014735422710319)

In [ ]:
car_df[(car_df['brand']=='Maruti') & (car_df['city']=='Agra')]['resale_price'].mean()  #And Operation

np.float64(4.189285714285714)

In [ ]:
car_df[(car_df['brand']=='Maruti') | (car_df['city']=='Agra')]['resale_price'].mean()  #OR Operation

np.float64(5.018861981056026)

In [ ]:
car_df['registered_year']=car_df['registered_year'].str.split(' ').str[-1].astype('Int64')

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,"[1.2, Alpha]",Maruti,Baleno,1.2 Alpha
1,2018 Tata Hexa XTA,10.0,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,[XTA],Tata,Hexa,XTA
2,2015 Maruti Swift Dzire VXI,4.5,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
3,2015 Maruti Swift Dzire VXI,4.5,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
4,2009 Hyundai i10 Magna 1.1,1.6,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,"[Magna, 1.1]",Hyundai,i10,Magna 1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25,2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,"[VX, i-Vtech]",Honda,Amaze,VX i-Vtech
17442,2016 Toyota Camry 2.5 Hybrid,20.75,2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,"[2.5, Hybrid]",Toyota,Camry,2.5 Hybrid
17443,2016 Toyota Corolla Altis GL MT,8.35,2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,"[Altis, GL, MT]",Toyota,Corolla,Altis GL MT
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95,2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,"[1.6, CRDi, AT, SX, Plus]",Hyundai,Creta,1.6 CRDi AT SX Plus
17445,2017 Maruti Swift Dzire VDi,6.5,2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,"[Dzire, VDi]",Maruti,Swift,Dzire VDi

In [ ]:
car_df['engine_capacity']=car_df['engine_capacity'].str.split(' ').str[0].astype('Int64')

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017,1197,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,"[1.2, Alpha]",Maruti,Baleno,1.2 Alpha
1,2018 Tata Hexa XTA,10.0,2018,2179,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,[XTA],Tata,Hexa,XTA
2,2015 Maruti Swift Dzire VXI,4.5,2015,1197,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
3,2015 Maruti Swift Dzire VXI,4.5,2015,1197,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
4,2009 Hyundai i10 Magna 1.1,1.6,2009,1086,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,"[Magna, 1.1]",Hyundai,i10,Magna 1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25,2013,1198,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,"[VX, i-Vtech]",Honda,Amaze,VX i-Vtech
17442,2016 Toyota Camry 2.5 Hybrid,20.75,2016,2494,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,"[2.5, Hybrid]",Toyota,Camry,2.5 Hybrid
17443,2016 Toyota Corolla Altis GL MT,8.35,2016,1798,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,"[Altis, GL, MT]",Toyota,Corolla,Altis GL MT
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95,2019,1582,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,"[1.6, CRDi, AT, SX, Plus]",Hyundai,Creta,1.6 CRDi AT SX Plus
17445,2017 Maruti Swift Dzire VDi,6.5,2017,1248,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,"[Dzire, VDi]",Maruti,Swift,Dzire VDi

In [ ]:
car_df['kms_driven']=car_df['kms_driven'].str.replace(',','').str.split(' ').str[0].astype('Int64')

In [ ]:
car_df

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017,1197,Third Party insurance,Manual,40000,First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,"[1.2, Alpha]",Maruti,Baleno,1.2 Alpha
1,2018 Tata Hexa XTA,10.0,2018,2179,Third Party insurance,Automatic,70000,First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,[XTA],Tata,Hexa,XTA
2,2015 Maruti Swift Dzire VXI,4.5,2015,1197,Third Party insurance,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
3,2015 Maruti Swift Dzire VXI,4.5,2015,1197,Third Party insurance,Manual,70000,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
4,2009 Hyundai i10 Magna 1.1,1.6,2009,1086,Third Party insurance,Manual,80000,First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,"[Magna, 1.1]",Hyundai,i10,Magna 1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,2013 Honda Amaze VX i-Vtech,3.25,2013,1198,Comprehensive,Manual,89000,Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,"[VX, i-Vtech]",Honda,Amaze,VX i-Vtech
17442,2016 Toyota Camry 2.5 Hybrid,20.75,2016,2494,Comprehensive,Automatic,68000,First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,"[2.5, Hybrid]",Toyota,Camry,2.5 Hybrid
17443,2016 Toyota Corolla Altis GL MT,8.35,2016,1798,Comprehensive,Manual,81000,First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,"[Altis, GL, MT]",Toyota,Corolla,Altis GL MT
17444,2019 Hyundai Creta 1.6 CRDi AT SX Plus,13.95,2019,1582,Comprehensive,Automatic,20000,First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,"[1.6, CRDi, AT, SX, Plus]",Hyundai,Creta,1.6 CRDi AT SX Plus
17445,2017 Maruti Swift Dzire VDi,6.5,2017,1248,Comprehensive,Manual,32000,First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,"[Dzire, VDi]",Maruti,Swift,Dzire VDi

In [ ]:
car_df['registered_year'].value_counts()

registered_year
2018    1986
2017    1978
2019    1691
2016    1671
2021    1379
2015    1378
2014    1279
2020    1184
2022    1038
2013     956
2012     775
2011     724
2010     528
2009     313
2008     176
2023     114
2007      70
2006      53
2004      33
2005      29
2003      15
2002       7
Name: count, dtype: Int64

In [ ]:
car_df['max_power'].value_counts()

max_power
81.80bhp    636
81.86bhp    552
88.50bhp    486
74bhp       387
82bhp       363
           ...
303.7bhp      1
83.1          1
76            1
237bhp        1
328.5bhp      1
Name: count, Length: 609, dtype: int64

In [ ]:
car_df['max_power'].unique()

array(['83.1bhp', '153.86bhp', '83.14bhp', '68.05bhp', '81.86bhp',
       '69bhp', '73bhp', '62bhp', '86.7bhp', '103.25bhp', '98.6bhp',
       '89bhp', '67.1bhp', '58.16bhp', '88.7bhp', '87.2bhp', '118.36bhp',
       '89.84bhp', '170PS', '74bhp', '81.80bhp', '47.3bhp', '67.04bhp',
       '82bhp', '140bhp', '138.1bhp', '84bhp', '88.5bhp', '88.50bhp',
       '65.71bhp', '47.33bhp', '100.6bhp', '102', '90 PS', '73.97bhp',
       '61.7bhp', '147.51bhp', '73.9bhp', '62.1bhp', '78.9bhp',
       '108.62bhp', '167.67bhp', '55.2bhp', '86.63bhp', '88bhp',
       '67.06bhp', '83.8bhp', '113.43bhp', '74.02bhp', '67.05bhp',
       '67bhp', '63PS at 5,400 rpm', '98.96bhp', '97.9bhp', nan,
       '58.2bhp', '53.3bhp', '70bhp', '103.3bhp', '120bhp (86.7kw)',
       '118.35bhp', '75 PS at 4000 rpm', '152.87bhp', '57.6bhp', '99bhp',
       '138bhp', '141bhp', '108.5bhp', '86.8bhp', '78 kW', '105.94bhp',
       '118PS at 6,600 rpm', '72bhp', '61.68bhp', '108.45bhp', '88.73bhp',
       '74.96bhp', '126.2bhp', '68', '81.83bhp', '160.77bhp', '98.63bhp',
       '79.4bhp', '77bhp', '71.02bhp', '108.49bhp', '88.8bhp',
       '174.33bhp', '80 PS at 5200 rpm', '152 PS', '75bhp', '130bhp',
       '66.1bhp', '103.26bhp', '170', '85ps', '80', '126.32bhp',
       '300kWbhp', '254.7bhp', '187.74bhp', '204bhp', '241.4bhp',
       '186bhp', '150bhp', '340bhp', '181bhp', '443.87bhp', '188bhp',
       '167.62bhp', '241.3bhp', '143bhp', '85.8bhp', '72.40bhp',
       '362.07bhp', '71.01bhp', '98.59bhp', '136bhp', '97.89bhp',
       '194bhp', '100', '182.38bhp', '130.2bhp', '88.76bhp', '121.3bhp',
       '362.07bhp5500-6100bhp', '108.6bhp', '40.3bhp', '37.48bhp',
       '103.5bhp', '155bhp', '100bhp', '301.73bhp', '113.18bhp',
       '102.5bhp', '147.94bhp', '113.98bhp', '83.83bhp', '53.26bhp',
       '55.92bhp', '113.45bhp', '116.3bhp', '58bhp', '174.5bhp',
       '119.35bhp', '73.94bhp', '91.1bhp', '136.78bhp', '117.3bhp',
       '121bhp', '113.42bhp', '58.33bhp', '71 PS at 4500 rpm', '168.5bhp',
       '70', '59.17bhp', '138.03bhp', '72.41bhp', '120bhp', '103.52bhp',
       '117.6bhp', '105bhp', '84.82bhp', '158.2bhp', '118.41bhp',
       '73.75bhp', '197.13bhp', '184bhp', '46.3bhp', '197bhp', '68bhp',
       '70.02bhp', '103.2bhp', '86.83bhp', '108.495bhp', '40.36bhp',
       '88.77bhp', '167.68bhp', '74.93bhp', '104.55bhp', '101.65bhp',
       '70.40Bhp', '37bhp', '45bhp', '83.81bhp', '65', '109PS', '84.8bhp',
       '112bhp at 3800 rpm', '69.01bhp', '116.6', '138.05bhp', '126.3bhp',
       '178.3bhp', '148bhp', '93.87bhp', '78.8bhp', '241.38bhp', '169bhp',
       '64.1bhp', '194.3bhp', '201.1bhp', '127bhp', '254.79bhp', '306bhp',
       '261.49bhp', '360bhp', '147.5bhp', '252bhp', '177bhp', '201.15bhp',
       '191.76bhp', '280bhp', '335.25bhp', '175.67bhp', '84.48bhp',
       '110bhp', '245bhp', '258bhp', '212.55bhp', '105', '221.3bhp',
       '171 PS', '138.08bhp', '453.26bhp', '215.01bhp', '78', '86.80bhp',
       '82.9bhp', '395bhp', '91.7bhp', '194.4bhp', '115.05bhp',
       '150.19bhp', '245.40bhp', '65.39bhp', '90(66)', '257.47bhp',
       '197.26bhp', '105 PS at 5250 rpm', '138.12bhp', '76.43bhp',
       '261.4bhp', '157.75bhp', '158bhp', '248bhp', '93.7bhp', '190bhp',
       '177.6bhp', '75.10bhp', '163.7bhp', '170bhp', '53.64bhp', '75 PS',
       '171.5bhp', '103.6bhp', '104.5bhp', '85.80bhp', '147.9bhp',
       '60 PS', '120.7bhp', '92', '170.63bhp', '112bhp', '88.2', '110',
       '82.9', '75PS', '191.7bhp', '140', '65 PS at 5500 rpm', '104.68',
       '97.7bhp', '90PS at 4000rpm', '187.7bhp', '157.8bhp', '134bhp',
       '103bhp', '121.31bhp', '254.8bhp', '281.61bhp', '261.50bhp',
       '157.7bhp', '55 Bhp', '320bhp', '248.08bhp', '335bhp', '237.36bhp',
       '110.4bhp', '516.29bhp', '214.5bhp', '121.36bhp', '321.84bhp',
       '183bhp', '325.86bhp3600-4200rpm', '384.87bhp', '336bhp', '333bhp',
       '153.81bhp', '189.08bhp', '134.1bhp', '246.74bhp', '175.56bhp',
       '503bhp', '174.3bhp', '116.4bhp', '107.2bhp', '83.11bhp',
       '82.85bhp', '148.31bhp', '94', '144', '103.2 PS at 5500 RPM',
       '126.24bhp', '178bhp', '83 PS', '160bhp', '158.8bhp', '107.3bhp',
       '187.4bhp', '35 bhp', '105PS', '74.9bhp', '68.1bhp', '115bhp',
       '141.1bhp', '59bhp', '75 bhp at 5400 rpm', '57.5', '75.09bhp',
       '63 HP at 3200 rpm', '56.3bhp', '63bhp', '34.2bhp', '100.5bhp',
       '106', '64', '32.8bhp', '167.6bhp', '76.8bhp', '123.37bhp',
       '63.12bhp', '160.92bhp', '103.39bhp', '203.2bhp', '178.49bhp',
       '63', '102.57bhp', '91.72bhp', '138.13bhp', '120.96bhp', '218bhp',
       '100.57bhp', '147.8bhp', '41.42bhp', '105.5bhp', '75.94bhp',
       '68.07bhp', '117.60bhp', '149.92bhp', '47', '154bhp', '71bhp',
       '164.7bhp', '335.26bhp', '64bhp', '37.5bhp', '90bhp', '69.04bhp',
       '132/4000-6000', '181.03bhp', '35', '120.69bhp', '174.33',
       '86.79bhp', '235bhp', '172.45bhp', '140.8bhp', '147.52bhp',
       '86.76bhp', '101', '177.46bhp', '120.3bhp', '173bhp', '89.75bhp',
       '97.64bhp', '91.18bhp', '79.65bhp', '139.46bhp', '82.5bhp',
       '215bhp', '113.4bhp', '178.4bhp', '25.4bhp', '272bhp', '92.7bhp',
       '156.82bhp', '168bhp', '558bhp', '375.48bhp', '247bhp', '375.5bhp',
       '265bhp', '203bhp', '59.18bhp', '313bhp', '84.88bhp', '108.50bhp',
       '98.82bhp', '38.4bhp', '94.68bhp', '123.24bhp', '125', '35 Bhp',
       '208bhp', '121.4bhp', '63 PS', '152.88bhp', '61 PS', '163.2',
       '110 PS at 4000 RPM', '179.5bhp', '70.67bhp', '114.41bhp',
       '182.46bhp', '240bhp', '177.5bhp', '63.1bhp', '168.7bhp',
       '197.2bhp', '130.3bhp', '367bhp', '76bhp', '97.6bhp', '71 PS',
       '153.87bhp', '180', '235', '103.2', '112.4bhp', '156.9bhp',
       '160 BHP', '94.93bhp', '101.64bhp', '114bhp', '53.5', '335.2bhp',
       '82.4bhp', '258', '84bhp3750rpm', '108.48bhp', '163.60bhp',
       '231.78bhp', '98bhp', '151.89bhp', '210', '187.40bhp',
       '153.866bhp', '99.61bhp', '106 bhp', '157.81bhp', '241.39bhp',
       '335.2', '177', '214.56bhp', '181.04bhp', '175bhp',
       '100PS at 5,500rpm', '246.7bhp', '150 ps 3850 rpm', '66.6',
       '98.5bhp', '91.19bhp', '95.48bhp', '48.21bhp', '100 bhp',
       '75PS at 4000rpm', '99.23bhp', '150 kW at 6300 rpm', '80.46bhp',
       '85 PS at 6000rpm', '271.3bhp', '167.7bhp', '115 PS', '66.7',
       '210bhp', '70 bhp at 5400 rpm', '58.3bhp', '198.25bhp', '32.5bhp',
       '321bhp', '380bhp', '502.8bhp', '185bhp', '80.84bhp', '157.57bhp',
       '165 [224] at 3800', '82 PS', '112.44bhp', '85bhp', '85',
       '96.55bhp', '104 PS', '66(90) / 4000', '61.6bhp', '270.9bhp',
       '52.8bhp', '163bhp', '402.30Bhpbhp', '271.2bhp', '73.8bhp',
       '25.5bhp', '118.6', '140PS', '80bhp', '241.6bhp', '178',
       '110(150)/5700', '134hp', '91.2bhp', '118.3bhp', '300bhp',
       '255bhp', '241.7bhp', '134.10bhp', '167.63bhp', '130.07bhp',
       '118bhp', '88 PS', '85.7bhp', '72.4bhp', '75', '40bhp', '93 PS',
       '102.53bhp', '161.6', '112.2', '260.0', '94 bhp', '379.7bhp',
       '70 bhp at 4000 rpm', '120', '218', '57', '53 PS', '65bhp',
       '180kw', '236bhp', '179.5', '270.88bhp', '162bhp', '53bhp',
       '99.6bhp', '150', '98.79bhp', '303.7bhp', '83.1', '76', '147.4bhp',
       '237bhp', '200bhp', '328.5bhp', '114.4bhp', '67.72bhp',
       '141.04bhp', '362.9bhp', '194.44bhp', '400bhp', '153.8bhp',
       '442.53bhp', '138.02bhp', '224bhp', '132PS', '80.9bhp', '215',
       '268bhp', '118.68bhp', '282bhp', '76.9bhp', '189.3bhp',
       '174.57bhp', '421bhp', '335.3bhp', '296bhp', '245.4bhp', '231.1',
       '271.23bhp', '469bhp', '382bhp', '170hp', '73.74bhp', '308bhp',
       '198.5', '552bhp', '435bhp', '237.4bhp', '296.36bhp', '110.5bhp',
       '172.35bhp', '294.9bhp', '122bhp', '98.56bhp', '170.6bhp',
       '65.03bhp', '245.59bhp', '64.9', '92bhp', '500bhp', '194.37bhp',
       '420bhp'], dtype=object)

In [ ]:
car_df.drop(['full_name', 'kms_driven'], axis=1, inplace=True)

In [ ]:
car_df

,resale_price,registered_year,engine_capacity,insurance,transmission_type,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
0,5.45,2017,1197,Third Party insurance,Manual,First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,"[1.2, Alpha]",Maruti,Baleno,1.2 Alpha
1,10.0,2018,2179,Third Party insurance,Automatic,First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,[XTA],Tata,Hexa,XTA
2,4.5,2015,1197,Third Party insurance,Manual,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
3,4.5,2015,1197,Third Party insurance,Manual,Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,"[Dzire, VXI]",Maruti,Swift,Dzire VXI
4,1.6,2009,1086,Third Party insurance,Manual,First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,"[Magna, 1.1]",Hyundai,i10,Magna 1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17441,3.25,2013,1198,Comprehensive,Manual,Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi,"[VX, i-Vtech]",Honda,Amaze,VX i-Vtech
17442,20.75,2016,2494,Comprehensive,Automatic,First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi,"[2.5, Hybrid]",Toyota,Camry,2.5 Hybrid
17443,8.35,2016,1798,Comprehensive,Manual,First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi,"[Altis, GL, MT]",Toyota,Corolla,Altis GL MT
17444,13.95,2019,1582,Comprehensive,Automatic,First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi,"[1.6, CRDi, AT, SX, Plus]",Hyundai,Creta,1.6 CRDi AT SX Plus
17445,6.5,2017,1248,Comprehensive,Manual,First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi,"[Dzire, VDi]",Maruti,Swift,Dzire VDi

In [ ]:
car_df['mileage']=car_df['mileage'].str.split(' ').str[0].astype('float64')

In [ ]:
car_df['mileage'].describe()

count    16938.000000
mean        19.398051
std          4.466195
min          6.700000
25%         17.000000
50%         18.900000
75%         21.630000
max        140.000000
Name: mileage, dtype: float64

In [ ]:
car_df[car_df['mileage']>40]

,resale_price,registered_year,engine_capacity,insurance,transmission_type,owner_type,fuel_type,max_power,seats,mileage,body_type,city,model_year,brand,model_name,Variant
3437,2.75,2017,<NA>,Third Party insurance,Automatic,First Owner,Electric,25.4bhp,4.0,110.0,Hatchback,Kolkata,"[Plus, P6]",Mahindra,e2o,Plus P6
6341,3.25,2017,<NA>,Third Party insurance,Automatic,First Owner,Electric,25.4bhp,4.0,110.0,Hatchback,Pune,"[Plus, P4]",Mahindra,e2o,Plus P4
6358,3.25,2017,<NA>,Third Party insurance,Automatic,First Owner,Electric,25.4bhp,4.0,110.0,Hatchback,Pune,"[Plus, P4]",Mahindra,e2o,Plus P4
8857,3.35,2015,0,Third Party insurance,Automatic,First Owner,Electric,25.5bhp,5.0,120.0,Hatchback,Hyderabad,[T2],Mahindra,e2o,T2
10558,4.6,2017,72,Third Party insurance,Automatic,Second Owner,Electric,40bhp,4.0,140.0,Hatchback,Bangalore,"[Plus, P8]",Mahindra,e2o,Plus P8
14181,5.5,2017,72,Third Party insurance,Automatic,First Owner,Electric,40bhp,4.0,140.0,Hatchback,Delhi,"[Plus, P8]",Mahindra,e2o,Plus P8
14193,5.5,2017,72,Third Party insurance,Automatic,First Owner,Electric,40bhp,4.0,140.0,Hatchback,Delhi,"[Plus, P8]",Mahindra,e2o,Plus P8
17095,4.9,2017,<NA>,Comprehensive,Automatic,First Owner,Electric,25.4bhp,4.0,110.0,Hatchback,Bangalore,"[Plus, P4]",Mahindra,e2o,Plus P4